# Dependencias
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Variables de entorno
.env
.env.*

# Archivos del sistema
.DS_Store
Thumbs.db

# Configuración de IDE
.vscode/
*.swp
